@use 'variables'

.wrapper
  border-radius: 1rem
  width: min(100% - 3rem, 65ch)
  margin-inline: auto

  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  
  h2
    padding: 2rem
  
  form[data-js="multiplication-form"]
    display: flex
    align-items: center
    justify-content: center
    flex-flow: column wrap
    padding: 1rem

    .form-control
      display: flex
      align-items: center
      padding: 1rem

      label
        margin-right: 0.5rem
      
      input
        padding: .6rem .4rem
        max-width: 6.25em
        border: none
        border-radius: 5px
        text-align: center
  
  .multiplication-table
    display: flex
    flex-direction: column
    align-items: center
    padding: 2rem 1rem
    background-color: variables.$clr-secondary
  
  div[data-js="multiplication-operations"]
    .row
      display: flex
      justify-content: center
      border: 1px solid variables.$clr-primary
      border-bottom: none
      padding: .5rem

      &:last-child
        border: 1px solid variables.$clr-primary

      .result
        margin-left: .4rem